.myTitle {
  max-width: 580px;
  margin-top: 40px;
  margin-bottom: 80px;
}
/*  */

.titleItem {
  margin-bottom: 16px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 64px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: var(--grey-50);
}


.titleParagrf {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--grey-300);
}

.titleParagrf span {
  color: var(--primary-300)
}
